<div class="alert alert-info <%= transaction.status -%>">
  Transferred <strong><%= transaction.amount -%></strong>
  from <%= transaction.source.user.name -%> to
  <%= transaction.destination.user.name -%>
  <% if transaction.msg %>
    <br /><%= transaction.msg -%>
  <% end %>
</div>
