<tr class="<%= transaction.status -%>">
  <td><%= transaction.status -%></td>
  <td><%= transaction.source.user.name -%></td>
  <td><%= transaction.destination.user.name -%></td>
  <td><%= transaction.amount -%></td>
  <td><%= transaction.msg -%></td>
</tr>
