<!DOCTYPE html>
<html>
<head>
  <title>Bank</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div class="row">
      <h2>Your Bank</h2>
    </div>
  
    <%= render partial: 'shared/navbar' %>
  
    <%= render partial: 'shared/flash' %>

    <%= yield %>
  </div>
</body>
</html>
